<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/feedback.css">
  </head>
  <body>
    <div class="container">  
	  <form id="contact" action="feedback/" method="POST">
	    <h3>Hello, your feedback is very important for us!</h3>
	    <fieldset>
	      <input placeholder="Your name" name="name" type="text" tabindex="1" required autofocus>
	    </fieldset>
	    <fieldset>
	      <input placeholder="Your Email Address" name="email" type="email" tabindex="2" required>
	    </fieldset>
	    <fieldset>
	      <input placeholder="Your Department" name="department" type="text" tabindex="3" required>
	    </fieldset>
	    <fieldset>
	      <select placeholder="" name="manager" type="text" tabindex="3" required>
	      	<option value="" selected="disable">Choose the Manager of your feedback</option>
	      	<% 
	      		managers.forEach((m) => {
	      	%>
	      		<option value="<%= m.email %>"><%= m.username %></option>
	      	<%
	      		});
	      	%>
	      </select>
	    </fieldset>
	    <fieldset>
	      <textarea placeholder="Type your feedback here...." tabindex="4" name="feedback" required></textarea>
	    </fieldset>
	    <fieldset>
	      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">SUBMIT</button>
	    </fieldset>
	  </form>
	</div>
  </body>
</html>
