<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="login-page">
	  <div class="form">
	  	<div class="text-form">
	  		<h4>
	  			Hello, Manager. please enter your credentials
	  		</h4>
	  	</div>
	    <form class="login-form" method="POST" action="login/account">
	      <input type="email" name="email" placeholder="email@email.com"/>
	      <input type="password" name="password" placeholder="**********"/>
	      <button>login</button>
	      <p class="message">Not registered? <a href="/register">Create an account</a></p>
	    </form>
	  </div>
	</div>
  </body>
</html>
