<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
     <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="css/manager.css">
  </head>
  <body>
    <div class="nav">
      <div class="nav-header">
        <div class="nav-title">
          Hello, <%= manager[0].username %>
        </div>
      </div>
      <input type="checkbox" id="nav-check">
      <div class="nav-links">
        <a href="/checkout">Logout</a>
      </div>
    </div>
    <section>
      <div class="well">
        <h4>
          Employee's Feedback_
        </h4>
        <button class="btn btn-success" name="btnExport" id="btnExport">Excel</button>
      </div>
      <input class="form-control" type="text" id="filter" placeholder="Enter for search anything">

      <br/>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0" id="table">
          <thead>
            <tr>
              <th onclick="sortTable(0)">Employee</th>
              <th onclick="sortTable(1)">Email</th>
              <th onclick="sortTable(2)">Department</th>
              <th onclick="sortTable(3)">feedback</th>
              <th onclick="sortTable(4)">Rate</th>
              <th onclick="sortTable(5)">Date</th>
              <th>#</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <%
              feedback.forEach((f) => {
            %>
            <tr>
              <td><%= f.nameEmployee %></td>
              <td><%= f.emailEmployee %></td>
              <td><%= f.departmentEmployee %></td>
              <td><%= f.feedbackEmployee %></td>
              <td><%= f.rate %></td>
              <td><%= new Date(f.date).toLocaleDateString('en-US') %></td>
              <td><button class="btn btn-default" id="rate" data-id="<%= f._id%>"><span class="glyphicon glyphicon-star"></span> Rate</button></td>
              <td><button class="btn btn-default" id="delete" data-id="<%= f._id%>"><span class="glyphicon glyphicon-trash"></span> Delete</button></td>
            </tr>
            <%
              });
            %>
          </tbody>
        </table>
      </div>
      <!-- <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          
        </table>
      </div> -->
    </section>

    <div id="myModalRate" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Please, select how many stars do you want offer for this feedback!</h4>
          </div>
          <div class="modal-body">
            <select class="form-control" name="stars" id="stars">
              <option value="" disabled selected> Choose a many starts </option>
              <option value="1">1 star(s)</option>
              <option value="2">2 star(s)</option>
              <option value="3">3 star(s)</option>
              <option value="4">4 star(s)</option>
              <option value="5">5 star(s)</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="rateModal">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

    <div id="myModalDelete" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Warning!</h4>
          </div>
          <div class="modal-body">
            <p>Do you really want delete this feedback?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="deleteFeedback">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/sort-table.js"></script>
    <script type="text/javascript" src="js/manager.js"></script>
  </body>
</html>
