<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="login-page">
	  <div class="form">
	  	<div class="text-form">
	  		<h4>
	  			Let's create your account
	  		</h4>
	  	</div>
	    <form class="login-form" method="POST" action="create/account">
	      <input type="text" placeholder="username" name="username" required autofocus/>
	      <input type="email" placeholder="e-mail" name="email"required/>
	      <input type="password" placeholder="password" name="password"required/>
	      <input type="password" placeholder="re-enter password" name="passwordConfirm"required/>
	      <button>Create</button>
	    </form>
	  </div>
	</div>
  </body>
</html>
